h1 {
  font-family: 'pt_serif', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.doc-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px 'pt_serif', arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
  font: bold 18px/21px 'Roboto', arial, helvetica, sans-serif;
}

.menu__item:last-child {
  padding-right: 0;
}

.content {
  display: flex;
  justify-content: space-between;
}

.image_section {
  padding: 133px 133px 133px 133px;
}

.main_section {
  display: flex;
  justify-content: space-between;
}

.main-section__title {
  padding: 230px 0 20px 0;
  display: flex;
  align-items: center;
  width: 567px;
  height: 255px;
  top: 318px;
  left: 195px;
  font: bold 66px/87px 'pt_serif', arial, helvetica, sans-serif;
}

.main-section__text {
  padding: 20px 0;
  width: 455px;
  height: 52px;
  top: 613px;
  left: 195px;
  font: bold 22px/26px 'Roboto', arial, helvetica, sans-serif;
}

.main-section__button {
  padding: 20px 0 0 0;
  width: 270px;
  height: 57px;
  top: 706px;
  left: 196px;
  font: bold 18px/21px 'Roboto', arial, helvetica, sans-serif;
}
