body {
  margin: 0;
  background: linear-gradient(45deg, #6dd5fa, #fff);
  background-size: 200% 200%;
  animation: gradient 10s ease-in-out infinite;
}

/* аниация цветовым градиентом фона страницы */
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.wrapper {
  margin: auto;
  width: 80%;
}

.doc-header {
  margin-bottom: 130px;
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 38px 0;
  padding-left: 44px;
  /*width: 146px;
  height: 32px;*/
  font: bold 24px/31px 'pt_serif', arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.menu {
  display: flex;
  align-items: center;
  word-spacing: 3px;
}

.hamburger-menu {
  display: none;
}

.menu__item {
  position: relative;
  margin-right: 35px;
  font: bold 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item_active::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0;
}

.main {
  padding: 17px 63% 250px 0;
  background: top right no-repeat url(img/mainImg.svg);
}

.main__title {
  margin: 55px 0 40px 0;
  font: bold 66px/87px 'pt_serif', arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__text {
  margin: 0 0 41px 0;
  width: 455px;
  height: 52px;
  word-spacing: 1px;
  font: bold 22px/26px 'Roboto', arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  width: 270.75px;
  height: 57px;
  font: bold 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  border: 2px solid #0056ec;
  text-decoration: none;
  border-radius: 4px;
  padding: 16px 22px;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.main__button:hover {
  color: #fff;
  box-shadow: 0 0 16px 22px #0056ec inset;
}

@media (max-width: 768px) {
  .wrapper {
    margin: auto;
    width: 87%;
  }

  .doc-header {
    margin-bottom: 1px;
  }

  .menu {
    display: none;
  }

  .logo {
    visibility: hidden;
    padding: 24px 0;
  }

  .logo__circle {
    visibility: visible;
  }

  .hamburger-menu {
    display: initial;
  }

  /* скрываем чекбокс */
  #menu__toggle {
    opacity: 0;
  }

  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    right: 24px;
    width: 25px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
  }

  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0056ec;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  /* контейнер меню */
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 170px 0;    /* на макете 186px */
    list-style: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }

  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    font: bold 30px/35.16px 'Roboto', arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  .menu__item::after {
    visibility: hidden;
  }

  .menu__item:hover {
    background-color: #cfd8dc;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .main {
    padding: 65% 0 0;     /* подгон в Pixel Perfect под макет */
    text-align: center;
    background-size: 90%; /* подгон в Pixel Perfect под макет */
    background-position: top center;
  }

  .main__title {
    margin-bottom: 33px;
    font: bold 30px/39px 'pt_serif', arial, helvetica, sans-serif;
  }

  .main__text {
    margin-bottom: 26px;
    width: 85%;
    height: 100%;
    font: 500 16px/19px 'Roboto', arial, helvetica, sans-serif;
  }

  .main__button {
    width: 209px;
    height: 44px;
    padding: 14px 16px;
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }
}


@media (min-width: 770px) and (max-width: 1277px) {
  .wrapper {
  margin: auto;
  width: 90%;
  }

  .doc-header {
    margin-bottom: 105px;
  }

  .menu__item {
    font: bold 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }

  .main {
    padding: 0 53% 250px 0;
    background-size: 56%; /* подгон в Pixel Perfect под макет */
  }

  .main__title {
    margin-bottom: 40px;
    font: bold 50px/66.25px 'pt_serif', arial, helvetica, sans-serif;
  }

  .main__text {
    margin-bottom: 37px;
    width: 367px;
    height: 43px;
    font: 500 18px/21.09px 'Roboto', arial, helvetica, sans-serif;
  }

  .main__button {
    width: 209px;
    height: 44px;
    padding: 14px 16px;
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }
}


@media (min-width: 1277px) and (max-width: 1440px) {

  .wrapper {
  margin: 0 100px 0 220px;
  width: 74%;
  }

  .doc-header {
    margin-bottom: 105px;
  }

  .menu__item {
    font: bold 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }

  .main {
    padding: 0 53% 250px 0;
    background-size: 56%; /* подгон в Pixel Perfect под макет */
  }

  .main__title {
    margin-bottom: 40px;
    font: bold 50px/66.25px 'pt_serif', arial, helvetica, sans-serif;
  }

  .main__text {
    margin-bottom: 37px;
    width: 367px;
    height: 43px;
    font: 500 18px/21.09px 'Roboto', arial, helvetica, sans-serif;
  }

  .main__button {
    width: 209px;
    height: 44px;
    padding: 14px 16px;
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }
}
